body{
    background-color: red;
}

#bottle-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.3em;
}

#bottle-container, img {
    width: 100%;
    height: 100%;

}

.zoom-out {
  margin: 24px;
  width: 50px;
  height: 50px;
  background: 
#f500cc;
  animation-name: zoom-out;
  animation-duration:  1s; 
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(0.1, 0.1);
  }
}

.hidden {
  display: none;
}
